body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ecbecd;
    color: #333;
}

.container {
    margin-top: 100px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

button {
    background-color: #ff4081;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: backgrond-color 0.5s ease-in-out;
}

button:hover {
    background-color: #e91e64;
    transition-delay: 0.9s;
}